In [4]:
lst=[1,2,3,4,4,5]

In [7]:
lst.reverse()

In [8]:
lst

[5, 4, 4, 3, 2, 1]

In [3]:
print ("hello");

hello

In [2]:
import numpy as np

In [11]:
lst2=[2,4,6,7,8]
arr=np.array(lst2)

In [12]:
type(arr)

numpy.ndarray

In [10]:
array=np.arange(0,10,step=2)#arange---a_range produces a range of values
print(array)
array=np.linspace(0,10,20)#linspace gives 
print(array)
np.ones(4,dtype=int)#produces a array of 1s
np.random.rand(3,3)#values from 0 to 1
np.random.rand(4,4)#produces standard normal distribution
np.random.randint(0,100,8)#select 8 values from 0 to 100
np.random.random_sample((1,5))#returns floats in half-open interval 0 to 1.0

[0 2 4 6 8]
[ 0.          0.52631579  1.05263158  1.57894737  2.10526316  2.63157895
  3.15789474  3.68421053  4.21052632  4.73684211  5.26315789  5.78947368
  6.31578947  6.84210526  7.36842105  7.89473684  8.42105263  8.94736842
  9.47368421 10.        ]

array([[0.54423568, 0.67298979, 0.2097383 , 0.35972761, 0.33611222]])

In [13]:
arr

array([2, 4, 6, 7, 8])

In [ ]:
#lists, tuples, dicts are mutable; sets are not mutable 
#arrays use reference for assignment operator arr1=arr; arr1[3:]=500 shall change the value of arr also
#if copy function is used arr1=arr.copy() then there is no reference assignment

In [13]:
import pandas as pd
import numpy as np

In [19]:
df=pd.DataFrame(np.linspace(0,10,20).reshape(5,4),index=["Row1","Row2","Row3","Row4","Row5"],columns=["col1","col2","col3","col4"])

In [20]:
df.head()

          col1      col2      col3       col4
Row1  0.000000  0.526316  1.052632   1.578947
Row2  2.105263  2.631579  3.157895   3.684211
Row3  4.210526  4.736842  5.263158   5.789474
Row4  6.315789  6.842105  7.368421   7.894737
Row5  8.421053  8.947368  9.473684  10.000000

In [9]:
df.to_csv('test1.csv')

In [14]:
type(df.loc['Row1'])#this just shows one row or column and that is a series

pandas.core.series.Series

In [18]:
type(df.iloc[0:2,0:3])#shows a section of the dataframe original R:indexing from 1 py:indexing from 0

pandas.core.frame.DataFrame

In [19]:
df.iloc[0:2,0:3].values#converts into arrays

array([[0, 1, 2],
       [4, 5, 6]])

In [20]:
df.iloc[0:2,0:3].values.shap

(2, 3)

In [21]:
df.iloc[0:2,0:3].value_counts()

col1  col2  col3
0     1     2       1
4     5     6       1
dtype: int64